{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<button id="toggleSignUpModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    S'inscrire
</button>
<button id="toggleSignInModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Se connecter
</button>
<!-- Sign Up form (generated after AJAX request to controller-->
<div id="signUpModal" class="modal" tabindex="-1" role="dialog">   
</div>
<!-- Sign In form-->
<div id="signInModal" class="modal" tabindex="-1" role="dialog">
</div>
<section>
    <table class="table">
        <tr>
            <th class="table__header table__col--padding" scope="col">Sujets</th>
            <th class="table__header table__col--padding" scope="col">Discussions</th>
            <th class="table__header table__col--padding" scope="col">Messages</th>
        </tr>
        
          {% for topic in topics %}
          <tr class="table__row">
              <td class="table__col--padding"><a id="mainTopicLink" class="table__topic-title" href="#">{{topic.title}}</a><p class="table__main-topic-description">{{topic.description}}</p></td>
              <td class="table__col--padding">{{topic.subtopics | length}}</td>
              <td class="table__col--padding">{{topic.messages | length}}</td>
          </tr>
          {% endfor %}


    </table>
</section>
{% endblock %}
