{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<section>
    <a id="createNewTopicButton" class="btn btn-primary rounded-0" href="{{path('blog_reply', {'id':subTopic.id})}}">Répondre</a>
    <table class="table table-striped">
        {% for message in subTopic.messages | slice(pagination.offset, pagination.limit) %}
        <tr class="">
            <td class="">
            <p class="message__date-author">Posté le {{message.createdAt | date('d/m/Y à H:i') }}  par <span class="table__message-author">{{message.getIdUser.username}}</span></p>
            <p>{{message.text}}</p>
            </td>
        </tr> 
        {% endfor %}

       
    </table>
</section> 
{% endblock %}